.popup {
    display: none;
    position: absolute;
    z-index: 2;
    top: 20%;
    width: 75%;
    overflow: auto;
    border: 1px solid #aaa;
    background-color: rgb(231, 231, 231);
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  .popup .popup-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }

  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  .close {
    color: grey;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: -7px;
    right: 2px;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(53, 50, 50);
    text-decoration: none;
    cursor: pointer;
  }

  .hide {
    display: none;
    opacity: 0 !important;
  }
  
  .show {
    display: flex !important;
    opacity: 1 !important;
  }

  .overlay {
    display: none;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vw;
    z-index: 1;
    cursor: pointer;
    transition: opacity .3s;
  }