.levels {
    border: 1px solid #bbb;
    margin: 10px;
}

.feature-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 99%;
  padding: 3px;
  background-color: #f1f1f1;
}

.feature {
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
}

.level-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}
.level-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.level-3 {
  width: 15%;
  height: 18px;
  background-color: #00bcd4;
}
.level-2 {
  width: 10%;
  height: 18px;
  background-color: #ff9800;
}
.level-1 {
  width: 4%;
  height: 18px;
  background-color: #f44336;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #aaa;
}
.short-info {
    width: 30%;
}
.name {
    font-weight: bold;
}
.image { 
    height: 200px;
}
.image:hover {
    cursor: pointer;
}


@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
