.App {
  text-align: center;
  background-color: cornsilk;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #5c5e5f; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}

th {
  background-color: #fddf95;
}

tbody tr:hover {
  cursor: pointer;
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

thead tr {
  display: block;
  width: 100%;
}

th,
td {
  padding: 5px;
  text-align: left;
  width: 200px;
}

tbody {
  display: block;
  overflow: auto;
  height: 500px;
}

colgroup {
  width: 250px;
}

.grid-container {
  display: flex;
  justify-content: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.image-thumb {
  width: 70px;
}

.tiles-container {
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 1;
  flex-wrap: wrap;
}
